<!DOCTYPE html>
<html>
  <head>
    <!-- Standard HTML head metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS frame called Bootstrap. Makes it easy to style your website -->
    <!-- CDN: Content delivery network -->
    <!-- Lets you load custom CSS/Javascript without downloading it -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- Jinja templating engine-->
    <!-- This is out base template -->
    <!-- Each block we create will be able to be overridden by child templates -->
    <!-- Left off at 27:55 in the video -->
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>


  </body>
</html>